{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <main>
        <form method="get" action="{% url 'car:index' %}">
            <section class="filter-bar">
                <div class="sale-type-toggle">
                    <span>იყიდება</span>
                    <div class="toggle-switch">
                        <input type="checkbox" id="saleToggleFilter" name="sale_type" value="rent"
                               {% if request.GET.sale_type == 'rent' %}checked{% endif %}>
                        <label for="saleToggleFilter"></label>
                    </div>
                    <span>ქირავდება</span>
                </div>

                <select name="manufacturer">
                    <option value="">მწარმოებელი</option>
                    {% for manufacturer in manufacturers %}
                        <option value="{{ manufacturer.name }}"
                                {% if request.GET.manufacturer == manufacturer.name %}selected{% endif %}>
                            {{ manufacturer.name }}
                        </option>
                    {% endfor %}
                </select>

                <select name="generation">
                    <option value="">თაობა</option>
                    {% for model in models %}
                        <optgroup label="{{ model.name }}">
                            {% for generation in model.car_generation.all %}
                                <option value="{{ generation.name }}"
                                        {% if request.GET.generation == generation.name %}selected{% endif %}>
                                    {{ generation.name }}
                                </option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>

                <select name="year">
                    <option value="">წელი</option>
                    {% for available_year in years %}
                        <option value="{{ available_year }}"
                                {% if request.GET.year == available_year|stringformat:"s" %}selected{% endif %}>
                            {{ available_year }}
                        </option>
                    {% endfor %}
                </select>

                <select name="fuel_type">
                    <option value="">საწვავი</option>
                    {% for fuel in fuel_types %}
                        <option value="{{ fuel }}"
                                {% if request.GET.fuel_type == fuel %}selected{% endif %}>
                            {{ fuel }}
                        </option>
                    {% endfor %}
                </select>

                <button type="submit" class="search-button">ძებნა</button>
            </section>
        </form>

        <section class="car-listing">
            {% for car in cars %}
                <div class="car-card" style="width: 80%; text-align: center">
                    {% if car.images %}
                        <img src="{{ car.images.url }}" alt="{{ car.name }}" class="car-images" width="100%">
                    {% else %}
                        <img src="{% static 'images/placeholder.png' %}" alt="No image available" class="car-image">
                    {% endif %}
                    <h3>{{ car.name }}</h3>
                    <p>ფასი: {{ car.price }} $</p>
                    <p>საწვავი: {{ car.fuel_type }}</p>

                    <a href="{% url 'car:car_detail' car.id %}" class="detail_page">სრულად</a>
                </div>
            {% empty %}
                <p>ავტომობილები ვერ მოიძებნა.</p>
            {% endfor %}
        </section>
        {% include 'paginator.html' %}
    </main>
{% endblock %}