{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    <header>
        <link rel="stylesheet" href="{% static 'car_add.css' %}">
        <link rel="stylesheet" href="{% static 'footer.css' %}">
    </header>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Add New Car</h2>
        {{ form|crispy }}
        <div style="display: flex; gap: 10px;">
            <button type="submit" class="btn btn-success">Update</button>
            <a class="btn btn-danger" href="{% url 'user:profile' %}">Cancel</a>
        </div>
    </form>

    {% include 'footer.html' %}
{% endblock %}